

@font-face {
font-family: MiloOT-Bold;
src: url("../fonts/Milo_OT/MiloOT-Bold.otf");
}

@font-face {
font-family: MiloOT-LightIta;
src: url("../fonts/Milo_OT/MiloOT-LightIta.otf");
}


@font-face {
font-family: MiloOT-Thin;
src: url("../fonts/Milo_OT/MiloOT-Thin.otf");
}


