
 
		  .clearfix:after {

			  content: "";
			  display: table;
			  clear: both;
		  }
		  body{
			  padding: 0;
			  margin: 0;
			

			  background: url(/images/image.png);

	  			background-size:cover;
			  
		  }
		  .darken_div{
			  position: absolute;
			  width: 100%;
			  height:100%;
			  background: rgba(0,0,0,0.3);
			  z-index: -1;
		  }
			 
		  .header_div{
			
		  }
		  
		  .logo_div img{
			  width:100%;
		  }
		 
		  .logo_div {
			  
			 width:300px;
			  margin-left: 35px;
			  margin-top: 35px;
			  
			  
		  }
		
		  .logo_div .logo_left,
		  .logo_div .logo_right
		  {
			  float: left;
			  font-family: MiloOT-Bold;
			  color:white;
			  font-size: 3.3em;
			  text-align: left;
			  
		  }
		  .logo_div .logo_right >div{
			  
			 height:50px;
			   margin: 0 auto;
			  padding-left: 20px;
			  line-height: 50px;
			  
		  }
		  .logo_div .logo_left{
			  width:100px;
		  }
		  .logo_div .logo_right{
			    width:200px;
		  }
		  
		  
		  
		  
		  
		  .description_div{
			  margin-top:10%;
			   text-align: center;
			  /*border:1px solid white;*/
		  }
		  .description_div a{
			  
			  font-size: 2.3em;
			  font-family: MiloOT-LightIta;
			  color: white;
		  }
		  
		  
		  
		  
		  
		  
		  .searchbar_div{
			  margin: 0 auto;
			  margin-top: 60px;
			  background: white;
			  min-width: 300px;
			  width:60%;
			  height:60px;
		
		  }
		  .search_icon_div{
			  height: 60px;
			  width:60px;
			 
			  float: left;
			  	position:relative;  
		  }
		   .search_icon_div img{
			  
			  	height: 50%;
			 
			   position: absolute;
    			margin: auto;
    			top: 0;
			   left: 0;
			   right: 0;
			   bottom: 0;
			   
			   
		  }
		  .search_input_div{
			 
			  float:left;
			  height: 60px;
			
			  width:calc(100% - 60px);
			 
		  }
		  .search_input_div input{
			  height: 100%;
			  line-height: 50px;
			  border: 0px ;
			  padding: 0px;
			  margin-left: 0px;
			  width:100%;
			  -webkit-appearance:none;
			  outline: none;
			  font-size: 2em;
			  font-family: MiloOT-LightIta;
			  color:#AB0520;
		  }
		  
		  .autoComplete_div{
			  font-family: MiloOT-Thin;
			   margin: 0 auto;
			   background: white;
			  min-width: 300px;
			  width:60%;
			 border:1px solid gray;
			  
		  }
		  .autoComplete-item{
			 /* height:40px;*/
			   border-bottom:1px solid gray;
			  cursor: pointer;
			  position: relative;
		  }
		  .autoComplete-item:after{
			  content: "";
			  display: block;
			  position: absolute;
			  top:0px;
			  height:5px;
			  width:0%;
			  height:100%;
			  background:#AB0520;
		  }
		  .autoComplete-item:hover:after{
			  width:10px;
			  transition: width ease-in 0.3s;
		  }
		   .autoComplete-item:hover  span{
			 padding-left: 15px;
			
			  transition: padding-left ease-in 0.3s;
		  }
		  .autoComplete-item .title{
			  padding: 5px;
			  display: block;
			  font-size: 1.3em; 
			  white-space: nowrap;
		  }
		   .autoComplete-item .instr{
			     padding-left: 5px;
			   	padding-bottom: 5px;
			   display: block;
			  font-size: 0.9em;
			   white-space: nowrap
				 
		  }
<<<<<<< HEAD

 
	
=======
>>>>>>> cf05ee2590bde09d42d57b33a21cc3d96ceabc91
